{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">

            {% if not news %}
                <h1>You are not subscribed to any topic.</h1>
            {% else %}
                <div class="tab">
                    {% for topic in topics %}
                        <button class="tablinks" onclick="openTopic(event, '{{topic['topic_id']}}')">{{ topic['name'] }}</button>
                    {% endfor %}
                </div>
                <div id='infinite-list'>
                    {% for feed in news %}
                        <div id= {{feed}} class="tabcontent">
                            <div class="content">
                                {% for article in news[feed] %}
                                    <div class="card">
                                      <h1>{{article['u2']['title']}}</h1>
                                      <p>{{article['u2']['published_date']}}</p>
                                      <p class="title">{{article['u2']['newspaper_authors']}}</p>
                                      <p class="title">{{ channels[article['u2']['channel_id']]}}</p>
                                      <p>{{article['u2']['newspaper_summary']}}</p>
                                      <p><a href= "{{article['u2']['url']}}" target="_blank"><button style="width:100%">Read More</button></a></p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <script type="text/javascript">
                    function openTopic(evt, cityName) {
                      var i, tabcontent, tablinks;
                      tabcontent = document.getElementsByClassName("tabcontent");
                      for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                      }
                      tablinks = document.getElementsByClassName("tablinks");
                      for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                      }
                      document.getElementById(cityName).style.display = "block";
                      evt.currentTarget.className += " active";
                    }
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}

