{% extends "layout.html" %}

{% block content %}

<button>All</button><button>All</button><button>All</button>
    <div class="row">
        <div class="col-md-12 text-center">

            {% if not news %}
                <h1>You are not subscribed to any topic.</h1>
            {% else %}
                <div class="content">



                    {% for feed in news %}

                    <div class="card">
                      <h1>{{ feed.u2["title"] }}</h1>
                      <!-- <p class="title">{{ feed.u2["topic_via_channel"] }}</p> -->
                      <p class="title">{{ feed.u2["authors"] }}</p>
                      <p class="title">{{ feed.u2["published_date"] }}</p>
                      <p>{{ feed.u2["summary"] }}</p>
                      <p> <a href= "{{ feed.u2['url'] }}" target="_blank"><button>Read Story</button></a></p>
                    </div>

                    {% endfor %}
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}

